SUBMISSION_ENV=development
SUBMISSION_MONGODB_URI=mongodb://mongosubmissionjudgedb:27017/submissionjudgedb
SUBMISSION_HOST=0.0.0.0
SUBMISSION_LOG_LEVEL=debug
SUBMISSION_MONGODB_DATABASE_NAME=submissionjudgedb
SUBMISSION_JUDGE_PROBLEM_DIR=/problems_dir
SUBMISSION_REDIS_URI=redissubmissionjudge:6379 # in the form of host:port
SUBMISSION_REDIS_PASSWORD=root
SUBMISSION_NUMBER_OF_JUDGE=10 # number of isolate (10 is enough i guess)
SUBMISSION_JUDGE_ID_OFFSET=0 # isolate's id will start from here
SUBMISSION_IS_MAIN_JUDGE=true
SUBMISSION_PORT=8000
SUBMISSION_ENDPOINT=http://submission-judge:${SUBMISSION_PORT}

GATEWAY_PORT=81
GATEWAY_HOST=0.0.0.0
GATEWAY_LOG_LEVEL=debug
GATEWAY_ENVIRONMENT=Development

PROBLEM_MONGO_URI=mongodb://problemmongodb:27017/problem-db
POLYGON_API_KEY=
POLYGON_API_SECRET=
PROBLEM_STORAGE_DIR="/storage"
PROBLEM_HOST=0.0.0.0
PROBLEM_PORT=3000
PROBLEM_ENDPOINT=http://problem:${PROBLEM_PORT}
PROBLEM_DATABASE_NAME=problem-db

AUTH_PORT=50051
AUTH_ENDPOINT=http://auth:${AUTH_PORT}
AUTH_DATABASE_URL="postgresql://postgres:postgres@mypostgres:5432/auth_db?schema=public"
NODE_ENV=development
AUTH_JWT_SECRET="your-secret-key-here"

CONTEST_MONGO_URI=mongodb://contestmongodb:27017/contestdb
CONTEST_MONGO_DATABASE_NAME=contestdb
CONTEST_REDIS_HOST=rediscontest
CONTEST_REDIS_PORT=6379
CONTEST_ENV=Development
CONETST_LOG_LEVEL=debug
CONTEST_PORT=8001
CONTEST_HOST=0.0.0.0
CONTEST_ENDPOINT=http://contest:${CONTEST_PORT}

