# .github/
.github/workflows/contest-service-ci.yml
.github/workflows/ci.yml
.env
submission-judge-db-data/
problem-db-data/
redis-submission-judge/
contest-db-data/
/storage/
postgres-data/
scoreboard_redis/
**/main
**/tmp/
.DS_Store
AGENTS.md
.DS_Store
